*.DS_Store
*.txt
*.swp

# dotupdate managed
.config/Battle.net
.config/configstore
.config/filezilla
.config/gcloud
.config/github-copilot
.config/iterm2/AppSupport
.config/iterm2/sockets
.config/menus
.config/mgba
.config/mps-youtube
.config/pudb
.git
.gitconfig
.gitignore
Makefile
dotupdate.config.yaml
dotupdate.py
old
